.vscode/
.idea/
.vsconfig
.vs/
Library/
Logs/
UserSettings/
obj/
Temp/
local/
build/
*.sln
*.csproj

#/////////////////////////////////////////////////////////////////////////////
# Logs and databases
#/////////////////////////////////////////////////////////////////////////////

*.log
*.sql
*.sqlite
/Bundle
MemoryCaptures/
